@model ExtensionGallery2.Models.Package

<article>
    <img src="~/extensions/@Model.ID/@Model.Version/icon.png" alt="@Model.Name" />
    <h2>
        @if (!Context.Request.Path.Value.EndsWith(Model.ID))
        {
            <a href="/home/extension/@Model.ID">@Model.Name - @Model.Version</a>
        }
        else
        {
            <span>@Model.Name - @Model.Version</span>
        }
    </h2>
    <p>@Model.Description</p>
    <a class="btn btn-primary" href="@Model.DownloadUrl">Download</a>
    <time datetime="@Model.DatePublished.ToString("yyyy-MM-dd HH:mm")">@Model.DatePublished.ToString("d. MMM yyyy")</time>
</article>