@model IEnumerable<ExtensionGallery2.Models.Package>
@{
    ViewBag.Title = "About";
    var package = Model.First();
}
<h1>@package.Name</h1>

<div id="extensions">
    @await Html.PartialAsync("package", package)
</div>

@if (Model.Count() > 1)
{
    <h1>Older versions</h1>

    @foreach (var old in Model.Where(p => p != package))
    {
        <article>
            <h2>@old.Name - @old.Version</h2>
            <a class="btn btn-primary" href="@old.DownloadUrl">Download</a>
            <time datetime="@old.DatePublished.ToString("yyyy-MM-dd HH:mm")">@old.DatePublished.ToString("d. MMM yyyy")</time>
        </article>
    }
}